<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Page</title>
    <!-- CSS only -->
    <link href="style.css" rel="stylesheet" />
    <!-- <link href="home.css" rel="stylesheet" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Bodoni:ital,wght@1,500;1,600;1,700&family=Montserrat:wght@300;400;500;600;700;900&family=Raleway:ital,wght@0,100;0,200;0,500;1,400&family=Ramaraja&family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&family=Roboto:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Bodoni:ital,wght@1,500;1,600;1,700&family=Montserrat:wght@300;400;500;600;700;900&family=Raleway:ital,wght@0,100;0,200;0,500;1,400&family=Ramaraja&family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&family=Roboto:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
  </head>
  <body class="font-sans">
    <div class="pt-10 flex justify-around mb-[20px] bg-primary font-Ramaraja">
      <div>
        <a href="" class="text-lg uppercase font-bold">Home</a>
      </div>
      <div>
        <a href="#" class="text-lg uppercase font-bold">Regina</a>
      </div>
        <a href="https://www.instagram.com/rerreyy/" class="w-[10] max-w-[35px]">
          <img src="instagram.png" alt="instagram">
        </a>
      </div>
    </div>

    <section id="hero-area" class="pt-[70px] mb-[40px]">
      <div class="flex items-center justify-around h-95">
        
        <div class="tp-15">
          <h1 class="uppercase text-base opacity-[75] mb-[15px]">Congratulation</h1>
          <div class="font-bold tp-20 text-lg">
            <p class="text-lg mb-[20px]">Selamat Ulang Tahun Cayang,<br>Semoga Impiannya terwujud ya!</p>
            <p class="max-w-[145px]">‘‘Even the flowers in my garden envy you because you are way more gorgeous. I don’t see any reason why I should not consider myself the luckiest guy in the world. Happy birthday!’’</p>
          </div>
        </div>
        <div>
          <h1 class="uppercase text-4xl font-bold mb-[50px] max-w-[520px] font-Roboto">Regina Anya <br> Dominica - Orang paling lucu sedunia</h1>
          <img src="rere1_rounded.png" alt="" class="flex items-center justify-center max-w-[580px] rounded-full p-8 h-auto border-4 border-slate-800 opacity-[5]">
        </div>
        <div class="tp-15">
          <h1 class="uppercase text-base opacity-[75] mb-[15px]">Wish The Best For You!!</h1>
          <div class="font-bold text-lg">
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
            <p>I love U</p>
          </div>
        </div>
        
        <!-- <div class="flex justify-center text-sm">
          <p class="">
            Happy birthday to the best girlfriend in the world! So lucky to have you!
          </p>
        </div> -->

      </div>
    </section>

    <div class="flex justify-center text-sm">
      <p class="font-semibold tp-[35px]">
        Happy birthday to the best girlfriend in the world! So lucky to have you!
      </p>
    </div>


    <!-- <div class="navigation">
    
    <!-- JavaScript Bundle with Popper -->
  </body>
</html>
